* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 255, 255);
    height: 80px;
}

body {
    background-color: rgb(173, 173, 173);
}

header img {
    padding-bottom: 17px;
    margin-top: -12%;
    margin-left: 100px;
    width: 60px;
}

header p img {
    padding-bottom: 33px;
    margin-top: -12%;
    margin-left: 1400px;
    width: 60px;
}

header h3 img {
    padding-bottom: 60px;
    margin-top: -12%;
    margin-left: 1270px;
    width: 60px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

article h2 {
    text-align: center;
    font-size: 40px;
}
article p {
    text-align: center;
    font-size: 25px;
}
table img {
    margin-left: 110px;
    margin-top: 110px;
    margin-bottom: 110px;
    margin-right: 30px;
    width: 800px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 1px 1px 14px 1px #ffffff;
}

table td {
    color: aliceblue;
    background-color: black;
}

table td p {
    margin-bottom: -500px;
}


table td h2 {
    margin-top: 200px;
}

main table td {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
    main {
        text-align: center;
        font-size: 25px;
    }

    main p{
        font-size: 25px
    }

    main a {
        margin-right: 190px;

    }

main table td p {
    margin-top: 10px;
    margin-bottom: -500px;
}

main td h2 {
    margin-top: 200px;
}


main table img {
    margin-left: 110px;
    margin-top: 110px;
    margin-bottom: 110px;
    margin-right: 30px;
    width: 800px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 1px 1px 14px 1px #000000;
}

table th {
    font-weight: normal;
}

 table td a{
    
    margin-left: 230px;
    background: #0071e3;
    color: #fff;
    border: 10px solid transparent;
    border-radius: 15px;
    text-decoration: none;
}

form {
    text-align: center;
    background-color: rgb(161, 160, 160);
}


article section h2 {
    padding-top: 15px;
}

article section a img{
    width: 45px;
    align-items: center;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 100px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px;
}